@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body:has(.box) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

/* Container principal do login */
.box {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.box.register {
  max-width: 500px !important;
}

/* Título */
.box h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

/* Estilos do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 0.9rem;
  color: #555;
  text-align: left;
}

/* Campos de entrada */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border-color: #55af43;
}

/* Mensagem de erro */
#erro {
  font-size: 0.9rem;
  color: #e63946;
  margin-bottom: 1rem;
}

/* Botão de envio */
button[type="submit"] {
  padding: 0.8rem;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #55af43;
}

/* Link para registro */
a.underline {
  color: #383838;
  font-size: 0.9rem;
  text-decoration: none;
}

a.underline:hover {
  text-decoration: underline;
}


#style_campo{
  display: flex;
  justify-content: left;
}


/* body{
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
} */